@import "tailwindcss";

@theme {
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    font-family: 'Times New Roman', Times, serif;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Times New Roman', Times, serif;
  }
  
  p, span, a, button, div {
    font-family: 'Times New Roman', Times, serif;
  }
}